@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased text-slate-900 bg-slate-950;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-tight;
  }

  /* Custom Luxury Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-800 rounded-full border-2 border-slate-950;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-700;
  }
}